.houses-scroll {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px 0;
  scrollbar-width:thin;
  scrollbar-color:#7b2cff #140024
}

.houses-scroll::-webkit-scrollbar{height:8px}
.houses-scroll::-webkit-scrollbar-track{background:#140024;border-radius:10px}
.houses-scroll::-webkit-scrollbar-thumb{background:linear-gradient(90deg,#7b2cff,#b266ff);border-radius:10px}
.houses-scroll::-webkit-scrollbar-thumb:hover{background:#b266ff}

.house-card {
  min-width: 80%;
  background: #140024;
  border: 1px solid #7b2cff;
  border-radius: 12px;
  padding: 12px;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.house-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(120deg, transparent, rgba(123,44,255,0.3), transparent);
  opacity: 0;
  transition: 0.4s;
}

.house-card:hover::before {
  opacity: 1;
}

.house-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px #7b2cff;
}

.house-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.house-card p {
  font-size: 14px;
  margin-top: 10px;
  color: #ccc;
}